<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411794492899-qr9u8devu3ktq2652srgh01ub5kd2e0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411794492899-qr9u8devu3ktq2652srgh01ub5kd2e0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBlzsWhPcN2Ga5SEWt8AHAq-yHwXLR1W-0</string>
	<key>GCM_SENDER_ID</key>
	<string>411794492899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Voca</string>
	<key>PROJECT_ID</key>
	<string>voca01</string>
	<key>STORAGE_BUCKET</key>
	<string>voca01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411794492899:ios:3ddeb85c6bd849fadda4d6</string>
	<key>DATABASE_URL</key>
	<string>https://voca01-default-rtdb.firebaseio.com</string>
</dict>
</plist>